<ion-view view-title="albumes">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="img/a1.jpg">
      <h2>Imagen rara</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/a2.jpg">
      <h2>Imagen rara</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/a3.jpg">
      <h2>Imagen rara</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="img/a4.jpg">
      <h2>Imagen rara</h2>
      <p>Nine Inch Nails</p>
    </a>

</div>
  </ion-content>
</ion-view>
